* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F6F6FB;
}

.dev1-container {
    width: 100vw;
    height: 100vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.nav-section {
    width: 100%;
    padding: 24px;
    display: flex;
    gap: 10px;

}

.navbar {
    width: 100%;
    padding: 12px 80px 12px 80px;
    background-color: white;
    border-radius: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
    flex-basis: 20%;
    gap: 40px;
}

.hero-space {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.hero-tag {
    padding: 8px 20px;
    border-radius: 999px;
    color: #5E44FF;
    background-color: #563AFF1A;
    display: flex;
}

.hero-title {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.hero-title h1 {
    font-size: 6rem;
}

.hero-title span {
    color: #5E44FF;
}

.hero-title p {
    font-weight: 600;
    font-size: 1.9rem;
}

.hero-btn { 
    color: white;
    background-color: #1A1A2C;
    padding: 16px 36px;
    border: none;
    border-radius: 16px;
    display: flex;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #494963;
}* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenter {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
}

.featureContainer {
  display: flex;
  gap: 20px;
  height: 272px;
  width: fit-content;
}

.featureBox {
  background-color: rgba(215, 229, 246, 1);
  border-radius: 24px;
  padding: 28px;
  height: 100%;
  width: 387px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.featureBox--workflows {
  background-color: rgba(215, 229, 246, 1);
}

.featureBox--performance {
  background-color: rgba(216, 224, 252, 1);
}

.featureBox--interface {
  background-color: rgba(232, 220, 246, 1);
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.6);
}

.icon {
  width: 32px;
  height: 32px;
  margin: 14px;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.featureName {
  font-size: 24px;
  font-weight: 700;
  color: rgba(26, 26, 44, 1);
  line-height: 1.2;
}

.featureDesc {
  font-size: 16px;
  color: rgba(95, 95, 118, 1);
  line-height: 1.5;
}
